@import url('https://fonts.googleapics.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
p{
    font-weight: 300;
    color: #060505;
}
body{
    min-height: 1000px ;
    background: linear-gradient(#eaaabf, #fff);
    
}

.banner{
    position: relative;
    /* width: 100%; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(newyork.jpg);
    background-size: cover;
}
.banner .content
{
    /* max-width: 900px; */
    text-align: center;
}
.banner .content h2{
 font-size: 5em;
 color: rgb(245, 233, 233); 
}
.banner .content{
    font-size: 1em;
    color: rgb(41, 35, 35);
}
.btn {
    font-size: 1em;
    color: rgb(19, 16, 16);
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}
.btn:hover{
    letter-spacing: 5px;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* padding: 50px 8%; */
    transition: backgroud 2s;
}
nav .hover{
    background: rgb(173, 139, 139);

}

nav ul li a:hover{
    color: #ffffff;
    transition: .4s;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background-color: rgb(255, 133, 164);
}

header .logo{
    color: rgb(37, 31, 31);
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header .logo span{
    color: #ff0157;
}
header .navigation{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
header .navigation li{
    list-style: none;
    margin-left: 30px;
}
header .navigation li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 400;
}
section{
    padding: 100px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.col150{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.titleText{ 
    color: rgb(29, 25, 25);
    font-size: 2em;
    font-weight: 300;
}

.titleText span{
    color:#ff0157;
    font-weight: 700;
    font-size: 1.5em;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.TYPOGRAPHY .content .box{
   
    margin: 10px;
    border: 15px solid #fff;
    display: flex;
    box-shadow: 0 5px 35px rgba(0,0,0,0.89);
    
}

.container{
    background: #ffffff;
    width: 100%;
    padding: 100px 0px;
}

.box1{
    width:100%;
    margin: 10px;
    padding: 50px;
    display: flex;
    background: #eaaabf;
}

.codeimg{
    width:100%;
}
.button {
    background-color: #23b7ed; 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
  }

@media only screen and  (max-width: 1000px){
    section{
        padding:0px;
    }

}
@media only screen and  (max-width: 600px){
    header{
        padding:20px 50px;
    }}

    @media only screen and  (max-width: 600px){
        .col150{
            width: 100%;
        }}
  /* @media only screen and (max-width:700px) {
    nav ul{
        width: 100%;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
} */
